
{% extends 'base.html' %}

{%block content%}

<div class="container">
<br><br>
   <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <fieldset class="form-group">
         <legend class="border-bottom mb-4"> Write Here  </legend>
            <table>
                {{ post_form.as_table}}
                {{ file_form.as_table}}
            </table>
        </fieldset>

             <button type="submit" class="btn btn-primary">Tweet</button>
    </form>
</div>


{%endblock content%}