{% extends 'base.html' %}

{%block content%}

        <div class="jumbotron">
          <h1 class="display-4">Hello, {{user.profile.user_name}}!</h1>
          <p class="lead">This is a simple twitter clone ! </p>
          <hr class="my-4">
          <p>Click below to Create Tweet</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href='{% url "posts:createtweet" %}' role="button">Create tweet</a>
          </p>
        </div>

    <br>

<div class="container-fluid" >
        {% for post in object_list %}

                    <br>

                  <div class="card w-50" >
                      <div class="card-header">
                       <a  class="nav-link" href="#"><h5>{{post.author.profile.user_name}}</h5></a>
                      </div>
                  <div class="card-body">
                      <h5 class="card-title"> </h5>
                      <p class="card-text"><h5>{{post.body}}</h5></p>
                       <p><h6>{{post.create_date}}</h6></p>
                           {% if post.author == user  %}
                          <a href='{% url "posts:tweetupdate" post.id %}'> <button  class="btn btn-outline-info" type="submit">Edit</button></a>
                          <a href='{% url "posts:tweetdelete" post.id %}'> <button  class="btn btn-outline-danger" type="submit">Delete</button></a>

                          {% endif %}
                          
                          <form action="{% url 'posts:like_tweet' post.id %}" method="POST">
                            {% csrf_token %}
                            {% if user in post.likes.all %}
                            <button class="btn btn-block btn-outline-danger" type="submit", name="post_id", value="{{ post.id }}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                            </svg> Liked </button>
                            {% else %}
                            <button class="btn btn-block btn-primary" type="submit", name="post_id", value="{{ post.id }}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                              <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                            </svg> Like </button>
                            {% endif %}
                            Likes: {{ post.like_count }}
                            
                        </form>
                  </div>

                </div>
        {% endfor %}
    </div>


{%if messages %}
	<div class="alert alert-danger" role="alert">

	{% for message in messages %}
	<h5 align="center">{{message}}</h5>
	{% endfor %}

	</div>
	{%endif%}

{%endblock content%}