{% extends 'login_base.html' %}
{% load static %}
{% block body %}


<div class="imgcontainer">
	<img src= "{% static 'logo.jpg' %}" alt="Avatar" width="30%">
  </div>
  <div class="container">
	<h2>Social Network Project</h2>
  </div>


<div class="container"></div>
   <form method="post">
        {% csrf_token %}


        {% for error in form.non_field_errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}

           {% for field in form %}
          
        <p>
            {{ field.label_tag }}
            {{ field }}
            
            {% for error in field.errors %}
            
        <p style="color: red">{{ error }}</p>
  
            {% endfor %}
            
        </p>
        {% endfor %}

        <input type="submit" value="Next">
    </form>
  </div>
{% endblock %}