{% extends 'login_base.html' %}
{% load static %}
{% block body %}


<div class="imgcontainer">
	<img src= "{% static 'logo.jpg' %}" alt="Avatar" width="50%">
  </div>
  <div class="container">
	<h2>Social Network Project</h2>
  </div>



   <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
           {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}

        <input type="submit" value="Next">
      <a class="btn btn-primary" href="{% url 'posts:home' %}">Skip</a>
    </form>

    {% endblock %}